body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('bg.png'); /* Replace 'background.jpg' with your image file */
  background-size: cover;
  background-position: center;
}
#loginForm {
  background-color: rgba(255, 255, 255, 0.5); /* Translucent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px); /* Apply blur effect */
  transform: scale(1.0) rotate(0deg); /* Scale and rotate effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  height: 30%;
  box-shadow: 20px solid #85898B;
}

#loginForm:hover {
  transform: scale(1.05) rotate(0deg); /* Scale back and remove rotation on hover */
}
input[type="password"] {
  width: 90%;
  height: 10%;
  padding: 10px;
  margin-top: 13%;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid salmon;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 35%;
  
}

button:hover {
  background-color: #0056b3;
}
span{
  margin-left: 35%;
  position: relative;
  top: 10px;
  color: #00ABFF;
  font-size: 30px;
  font-style: Inherit;
}